<a href="https://colab.research.google.com/github/anushamulukutla/Gitrepo-gitx/blob/master/List_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Anusha
list1=[5,20,15,20,25,50,20]
print("List before removing item ",value,"\n",list1)
value=20
for i in list1:
    if i==value:
      list1.remove(value)
print("List After Removing item",value,"\n",list1)

List before removing item  20
 [5, 20, 15, 20, 25, 50, 20]
List After Removing item 20
 [5, 15, 25, 50]

In [ ]:
#tuples:
#we cannot change tuple values:
#we can have duplicate values
#we can only del the tuple by using del key word

tuple1=("Anusha",'ram',"Aarna")
tuple2=("Anusha",'ram',"Aarna")
print(tuple1)
print(tuple1[1])
print(tuple2)
#del tuple2
print(tuple2)

('Anusha', 'ram', 'Aarna')
ram
('Anusha', 'ram', 'Aarna')
('Anusha', 'ram', 'Aarna')

In [ ]:
#dic are changeable
#they have key and value
#key are unique cannot be duplicated
#

In [ ]:
#Anusha
dict_student={'First_name' : "Anusha",
             'Last_name':"Mulukutla",
             'age':27,
             'Grade':'A',
             'date-Of-Birth':'jan 7th'
            }

for key,value in dict_student.items():
  print(key," : ",value)

First_name  :  Anusha
Last_name  :  Mulukutla
age  :  27
Grade  :  A
date-Of-Birth  :  jan 7th

In [ ]:
#Anusha
dict_frnds={"Tom":10,
             "Clara":2,
             "Nancy":9,
             "Leo":7,
             "Ellen":2}
for k,v in dict_frnds.items():
  print(k,"favorite number is : ",v)

Tom favorite number is  10
Clara favorite number is  2
Nancy favorite number is  9
Leo favorite number is  7
Ellen favorite number is  2

In [ ]:
#python dict
#Anusha
python_dict={"variable":"Used to store values and use them later ",
             "print":"used  display text",
             "input()": "Allows user to prompt",
             "syntax":"Set of rules",
             "list":"Used to store values of different datatypes"}
for k,v in python_dict.items():
  print("***",k,"meaning is:\n",v)

*** variable meaning is:
 Used to store values and use them later
*** print meaning is:
 used  display text
*** input() meaning is:
 Allows user to prompt
*** syntax meaning is:
 Set of rules
*** list meaning is:
 Used to store values of different datatypes

In [ ]:
#Dictionaries
#key and value
#keys cannot be duplicate
#Example 1:
products={'table':120,'chair':40,'lamp':14}
print(products['chair'])
print(products.keys())
print(products.values())
for product in products: #keys
  print(product)
for price in products.values(): #values only
  print(price)
for key,value in products.items():#both key value pair
  print(key,'costs $',value,'.')

40
dict_keys(['table', 'chair', 'lamp'])
dict_values([120, 40, 14])
table
chair
lamp
120
40
14
table costs $ 120 .
chair costs $ 40 .
lamp costs $ 14 .

In [ ]:
#Anusha
#rivers
rivers_dict={'Nile':'Egypt',
             "Amazon_River":"'Brazil','peru','columbia'",
             "Indus_River":"Asia"}
print("***"*30)
for k in rivers_dict.keys():

  if k=='Nile':
    print("The Nile River Flows Through Egypt!!!",rivers_dict.get('Nile'))
  elif k == 'Amazon_River':
    print("The Amazon River Flows Through Three countries i.e ",rivers_dict.get('Amazon_River'))
  elif k == "Indus_River":
    print("The Indus River Flows Through ",rivers_dict.get("Indus_River"))
print("***"*30)
print("The Following River data set is: ")
print('-'.join(rivers_dict.keys()))
print("***"*30)
print("The Following countries data set is :")
print('-'.join(rivers_dict.values()))
print("***"*30)

******************************************************************************************
The Nile River Flows Through Egypt!!! Egypt
The Amazon River Flows Through Three countries i.e  'Brazil','peru','columbia'
The Indus River Flows Through  Asia
******************************************************************************************
The Following River data set is:
Nile-Amazon_River-Indus_River
******************************************************************************************
The Following countries data set is :
Egypt-'Brazil','peru','columbia'-Asia
******************************************************************************************

In [ ]:
#Anusha
fav_languages = {
    "jen": "python",
    "sarah": "c",
    "edward": "ruby",
    "phil": "python",
    "laya": ""
}
list_name = ['jen', 'paul', 'laya', 'razan', 'peter']

for item in list_name:
    if item in fav_languages.keys():
        if fav_languages[item]:
            print("Thanks for taking the poll",item)
        else:
            print(item, "please take the poll")
    else:
        print(item, "please take the poll.")

Thanks for taking the poll jen
paul please take the poll.
laya please take the poll
razan please take the poll.
peter please take the poll.

In [ ]:
#Anusha
dict_Alien1={"Name" : "Bantaf",
             "color" : "Green",
             "height":3.2}
dict_Alien2={"Name" : "cythara",
             "color" : "Red",
             "height":3.6}
dict_Alien3={"Name" : "clara",
             "color" : "yellow",
             "height":3.6}
kid_Answer=input("What color was the alien you spotted? ")
if kid_Answer==dict_Alien1['color']:
  print("kid spotted ",dict_Alien1['Name'],"a friendly",dict_Alien1['color'],"Alien","of Height",dict_Alien1['height'])

if kid_Answer==dict_Alien2['color']:
  print("kid spotted ",dict_Alien2['Name'],"a Notty",dict_Alien2['color'],"Alien","of Height",dict_Alien2['height'])
if kid_Answer==dict_Alien3['color']:
  print("kid spotted ",dict_Alien3['Name'],"an Angry",dict_Alien3['color'],"Alien","of Height",dict_Alien3['height'])

What color was the alien you spotted? yellow
kid spotted  clara an Angry yellow Alien of Height 3.6

In [ ]:
var=10
#print(variable)
#Print()
list1=[1,2,3]
#print(list1(10))
list1.append(8)
print()

In [ ]:
#Anusha
dict_Alien1={"Name" : "Bantaf",
             "color" : "Green",
             "height":3.2}
dict_Alien2={"Name" : "cythara",
             "color" : "Red",
             "height":3.6}
dict_Alien3={"Name" : "clara",
             "color" : "Yellow",
             "height":3.2}
kids_choice=int(input("How many ailens did you saw!!!!! "))
for i in range(kids_choice):
  kid_Answer=input("What color was the alien you spotted? ").title()
  if kid_Answer==dict_Alien1['color']:

    print("kid spotted ",dict_Alien1['Name'],"a friendly",dict_Alien1['color'].title(),"Alien","of Height",dict_Alien1['height'])

  elif kid_Answer==dict_Alien2['color']:
    print("kid spotted ",dict_Alien2['Name'],"a Notty",dict_Alien2['color'].title(),"Alien","of Height",dict_Alien2['height'])
  elif kid_Answer==dict_Alien3['color']:
    print("kid spotted ",dict_Alien3['Name'],"an Angry",dict_Alien3['color'].title(),"Alien","of Height",dict_Alien3['height'])
  else:
    print("There is no Alien of ",kid_Answer,"Please recollect the Alien Colour you have seen !!!!!")

How many ailens did you saw!!!!! 2
What color was the alien you spotted? blue
There is no Alien of  Blue Please recollect the Alien Colour you have seen !!!!!
What color was the alien you spotted? green
kid spotted  Bantaf a friendly Green Alien of Height 3.2